---
import Layout from '../layouts/Layout.astro'
import ShowCase from '../components/ShowCase.astro'
---

<Layout title='Blog || HomePage'>
	<ShowCase showExtra={true} />
	<h1>Hello World</h1>
</Layout>
